<div class="row row-map">
  <div class="col-md-9">
    <h2 class="heading">Map</h2>
    <hr/>
    <div id="map"></div>
  </div>
  <div class="col-md-3 info-container">
    <div id="run-info">
      <h2 class="heading">Run Data</h2>
      <hr/>
      <div class="data-heading">Route Name:</div>
      <p class="data-entry">{{ activity_name }}</p>
      <hr/>

      <div class="data-heading">Date:</div>
      <p class="data-entry">{{ activity_date | date:"longDate" }}
        <p>
          <hr/>

          <div class="data-heading">Total Distance:</div>
          <p class="data-entry">{{ activity_distance }} miles</p>
          <hr/>

          <div class="data-heading">Comments:</div>
          <p class="data-entry">{{ activity_comments }}</p>
          <hr/>
    </div>
  </div>
  <div class="btn">
    <a [routerLink]="['/runs']">Go back</a>
  </div>
</div>